

.navbar-mobile .logo {
  cursor: pointer;
}
.navbar-mobile ul.links-mobile {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;
}
.navbar-mobile ul.links-mobile li {
  text-transform: uppercase;
  padding: 0 50px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar-mobile ul.links-mobile li a {
  text-decoration: none;
  color: #fff;
}
.navbar-mobile ul.links-mobile li:hover {
  background: #60BF91;
  cursor: pointer;
}

.navbar-mobile ul.links-mobile li:active {
    background: #60BF91;
    cursor: pointer;
  }
  
.navbar-mobile ul.links-mobile li:hover a {
  color: #080808;
}
/* button {
  background: #ffc600;
  outline: none;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #e6b200;
  letter-spacing: 1px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
  background: #222;
  border-color: #000;
} */
.content {
  background-size: cover;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.content h2 {
  color: #ffc600;
}
.navbar-mobile.sticky {
  position: fixed;
  z-index: 40;
}
.navbar-mobile.sticky ~ main {
  position: relative;
  z-index: 20;
  top: 65px;
}

@media screen and (max-width: 1475px) {
  .navbar-mobile .right {
    height: 0;
    overflow: hidden;
  }
  .toggle {
    position: absolute;
    top: 32.5px;
    left: 20px;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle > * {
    width: 80%;
    height: 2px;
    background: #000000;
    margin: 3px 0;
  }
  .navbar-mobile.collapsed .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .navbar-mobile.collapsed .toggle .line2 {
    opacity: 0;
  }
  .navbar-mobile.collapsed .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navbar-mobile.collapsed .logo {
    position: absolute;
    z-index: 44;
  }
  .navbar-mobile .links-mobile {
    position: fixed;
    background: #ffffff;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: fit-content;
    height: 100%;
  }
  .navbar-mobile .links-mobile li:first-child {
    margin-top: 80px;
  }
  .navbar-mobile.collapsed .links-mobile {
    left: 0;
  }
  .navbar-mobile.collapsed .links-mobile a {
    color: #000000;
  }
  .navbar-mobile.collapsed .links-mobile li {
    width: 100%;
  }
  .navbar-mobile.collapsed .links-mobile li:hover a {
    color: #080808;
  }
  .navbar-mobile.collapsed .right {
    position: fixed;
    width: 45vw;
    text-align: center;
    height: auto;
    bottom: 40px;
    left: 22.5vw;
    transform: translateX(-50%);
    z-index: 45;
  }
  .navbar-mobile.collapsed ~ main {
    filter: blur(1px);
    opacity: 0.8;
  }
  .navbar-mobile.sticky {
    position: fixed;
    z-index: 40;
  }
}

.lock {
    overflow: hidden;
}

.overlay { 
    display: none;
}

.overlay-active { 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3000%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.404);
}

.header-bottom-logo-mobile {
    display: none;
    align-items: center;
    padding-left: 30px;
    z-index: 99;
    position: absolute;
    top: 6px;
    left: 44px;

}

@media screen and (max-width: 1475px) {
    .header-bottom-logo-mobile {
        display: flex;
    }
}  




.toggle-info {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2rem;
    height: 2rem;
}

.header-top-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 5px;
}

.header-info-block {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1475px) {
    .header-mobile-info .right {
      height: 0;
      overflow: hidden;
    }
    .toggle-info {
      position: absolute;
      top: 32.5px;
      right: 20px;
      z-index: 99;
      transform: translateY(-50%);
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .toggle-info > * {
      width: 80%;
      height: 2px;
      background: #fff;
      margin: 3px 0;
    }
    .navbar-mobile-info .header-mobile-info {
      position: fixed;
      background: #ffffff;
      z-index: 40;
      right: 0;
      top: -100%;
      flex-direction: column;
      width: 280px;
      height: fit-content   
    }
    .navbar-mobile-info .header-mobile-info li:first-child {
      margin-top: 80px;
    }
    .navbar-mobile-info.collapsed-info .header-mobile-info {
      top: 0;
    }
    .navbar-mobile-info.collapsed-info .header-mobile-info a {
      color: #000000;
    }
    .navbar-mobile-info.collapsed-info .header-mobile-info li {
      width: 100%;
    }
    .navbar-mobile-info.collapsed-info .header-mobile-info li:hover a {
      color: #080808;
    }
    .navbar-mobile-info.collapsed-info .right {
      position: fixed;
      width: 45vw;
      text-align: center;
      height: auto;
      bottom: 40px;
      top: 22.5vw;
      transform: translateX(-50%);
      z-index: 45;
      
    }
    .navbar-mobile-info.collapsed-info ~ main {
      filter: blur(1px);
      opacity: 0.8;
    }
    .navbar-mobile-info.sticky {
      position: fixed;
      z-index: 40;
    }

    .links-mobile-info {
        display: flex;
        align-items: center;
    }

    .header-mobile-info {
        padding: 0 16px 16px 16px;
        transition: 0.4s ease all;
    }

    .header-info-block:not(:last-child) {
        padding-bottom: 10px;
    }
  }
  

  
