
.idea-wrap-mobile {
  padding: 25px 25px 0 25px;
  
  margin: 0 auto;
}

@media (max-width: 848px) {
.idea-wrap-mobile {
  padding: 25px 0 0 0;
}
}

.idea-carousel-mobile{
  background: transparent;
  height: 900px;
}

@media (max-width: 848px) {
  .idea-carousel-mobile{
    height: 750px;
  }
}

@media (max-width: 570px) {
  .idea-carousel-mobile{
    height: 600px;
  }
}

@media (max-width: 520px) {
  .idea-carousel-mobile{
    height: 530px;
  }
}

@media (max-width: 450px) {
  .idea-carousel-mobile{
    height: 470px;
  }
}

@media (max-width: 400px) {
  .idea-carousel-mobile{
    height: 430px;
  }
}

@media (max-width: 350px) {
  .idea-carousel-mobile{
    height: 390px;
  }
}

.idea-card-mobile {
  max-width: 100%;
  height: auto;
  padding: 0 15px;
  text-align: center;
  transform: translateY(-50%);
}

@media (min-width: 990px) {
  .idea-card-mobile {
    width: 60%;
  }
}

.idea-card-mobile.is-selected img {
  transform: scale(2.2);
  filter: grayscale(0) blur(0);
}
.idea-card-mobile img {
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* easeInOutBack */
  display: inline-block;
  /* transform: scale(0.7);
  filter: grayscale(100%) blur(2px); */
  max-width: 50%;
  height: auto;
  padding-bottom: 14px;
}



 /* .flickity-prev-next-button.previous {
  left: -40px;
}

.flickity-prev-next-button.next {
  right: -40px;
}



.flickity-prev-next-button .arrow {
  fill: white;
  box-shadow: 0 0 5px black;
}

.flickity-prev-next-button.no-svg {
  color: white;
} */

.flickity-prev-next-button {
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
} 

.flickity-slider-mobile {
  display: flex;
  align-items: center;
}

.slider-idea-title-mobile {
  font-weight: 700;
  font-size: 28px;
  line-height: 27px;
  text-transform: none;
  color: #000000;
  margin-bottom: 0;

}